.carousel-slide {
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    /* Smooth easing */
}


/* From Uiverse.io by kennyotsu-monochromia */
.Left__Section {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg,
            rgb(160, 159, 224),
            rgb(151, 150, 231) 10px,
            rgb(160, 159, 224) 10px,
            rgb(151, 149, 241)20px) rgb(160, 159, 224);
    background-blend-mode: screen;
}

.Slide__1 {
    width: 100%;
    height: 100%;
    --s: 7px;
    --square-pattern: repeating-linear-gradient(90deg,
            #91ff00 0,
            #91ff00 50%,
            #fff 50%,
            #fff 100%),
        repeating-linear-gradient(0deg, #ff0000 0, #ff0000 50%, #fff 50%, #fff 100%);
    --tree-pattern: repeating-conic-gradient(from 45deg,
            #006400 0 25%,
            #32cd32 0 50%);
    background: var(--square-pattern), var(--tree-pattern);
    background-size:
        calc(2 * var(--s)) calc(2 * var(--s)),
        calc(4 * var(--s)) calc(4 * var(--s));
    background-position:
        0 0,
        center;
}

.Slide__2 {
    width: 100%;
    height: 100%;
    --s: 7px;
    --square-pattern: repeating-linear-gradient(90deg,
            #0044ff 0,
            #0044ff 50%,
            #fff 50%,
            #fff 100%),
        repeating-linear-gradient(0deg, #ff0000 0, #ff0000 50%, #fff 50%, #fff 100%);
    --tree-pattern: repeating-conic-gradient(from 45deg,
            #006400 0 25%,
            #32cd32 0 50%);
    background: var(--square-pattern), var(--tree-pattern);
    background-size:
        calc(2 * var(--s)) calc(2 * var(--s)),
        calc(4 * var(--s)) calc(4 * var(--s));
    background-position:
        0 0,
        center;
}

.Slide__3 {
    width: 100%;
    height: 100%;
    --s: 7px;
    --square-pattern: repeating-linear-gradient(90deg,
            #ea00ff 0,
            #ea00ff 50%,
            #fff 50%,
            #fff 100%),
        repeating-linear-gradient(0deg, #ff0000 0, #ff0000 50%, #fff 50%, #fff 100%);
    --tree-pattern: repeating-conic-gradient(from 45deg,
            #006400 0 25%,
            #32cd32 0 50%);
    background: var(--square-pattern), var(--tree-pattern);
    background-size:
        calc(2 * var(--s)) calc(2 * var(--s)),
        calc(4 * var(--s)) calc(4 * var(--s));
    background-position:
        0 0,
        center;
}


.hidden {
    display: none;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
}

.submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    border-radius: 0.375rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #1e3a8a;
}

.checkbox {
    width: 1rem;
    height: 1rem;
}